.main {
  position: absolute;
  width: 80%;
  z-index: 15;
  top: 10%;
  left:10%;
 margin: 0 auto;
}


.parent_container{
  width:100%;
  height:100%;
  float:left;
}
.child_div_1{
  float:left;
  margin-right:5px;
}