<mat-card class="example-card">
        <img mat-card-image src="https://cdn-demo.algolia.com/bestbuy-0118/4397400_sb.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-icon-button color="primary" aria-label="Example icon-button with a heart icon">
                <mat-icon>add_shopping_cart</mat-icon> Add to cart
            </button>
        </mat-card-actions>
    </mat-card>